<section class="grid">
  <div class="col-12 lg:col-3 xl:col-3">
    <app-media-name [setMedia]="setMedia"></app-media-name>
  </div>
  <div class="col-12 lg:col-9 xl:col-9">
    <div class="mb-5">
      <app-latest-news [media]="media"></app-latest-news>
    </div>
    <div class="grid mb-5">
      <div class="col-7">
        <app-sentiment [media]="media" [setTone]="setTone"></app-sentiment>
      </div>
      <div class="col-5">
        <app-statements [media]="media" [tone]="tone"></app-statements>
      </div>
    </div>
  </div>
</section>

