<div>
    <p-toast></p-toast>
    <div class="card">
        <div class="flex justify-content-start align-items-center gap-3 mb-3">
            <span class="p-input-icon-right">
                <input type="text" pInputText placeholder="Search" class="p-inputtext-sm max-w-17rem"
                    [formControl]="searchForm.controls['query']" />
                <i class="pi pi-search"></i>
            </span>
            <p-button severity="secondary" [plain]="true" iconPos="left" styleClass="border-0"
                [style]="{ backgroundColor: '#F1F4FA' }" (onClick)="openAddModal()">
                <div class="flex gap-2 align-items-center">
                    <i class="pi pi-plus text-primary"></i>
                    <div class="text-sm" style="color: #464255 !important">Add User</div>
                </div>
            </p-button>
        </div>

        <p-table [value]="users" dataKey="id" [rows]="10" [totalRecords]="totalRecords" [showFirstLastIcon]="false"
            [loading]="isLoading" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr class="text-sm font-medium">
                    <th class="w-6rem">
                        <div class="flex align-items-center gap-2">
                            <span>No</span>
                            <i pSortableColumn="user_mediaF_type_id" class="pi pi-angle-down"></i>
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center gap-2">
                            Name
                            <i pSortableColumn="user_media_type_name_def  " class="pi pi-angle-down"></i>
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center gap-2">
                            Username
                            <i pSortableColumn="user_media_type_name_def  " class="pi pi-angle-down"></i>
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center gap-2">
                            Company
                            <i pSortableColumn="user_media_type_name_def  " class="pi pi-angle-down"></i>
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center gap-2">
                            Level
                            <i pSortableColumn="user_media_type_name_def  " class="pi pi-angle-down"></i>
                        </div>
                    </th>

                    <th style="width: 4rem" class="text-center">
                        <div>Action</div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-i="rowIndex" let-expanded="expanded">
                <tr class="text-sm">
                    <td>
                        <p>{{ (page * rows) + i + 1 }}</p>
                    </td>
                    <td>
                        <div class="flex align-items-center gap-1 w-max">
                            <div>
                                {{ user.name }}
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="flex align-items-center gap-1 w-max">
                            <div>
                                {{ user.usrname }}
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="flex align-items-center gap-1 w-max">
                            <div>
                                {{ user.company }}
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="flex align-items-center gap-1 w-max">
                            <div>
                                {{ user.level }}
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="flex gap-2">
                            <p-confirmPopup></p-confirmPopup>
                            <p-button [outlined]="true" [text]="true" size="small"
                                styleClass="p-2 border-1 border-200 bg-white" title="Detail"
                                (onClick)="openEditModal(user)">
                                <icon-pencil class="fill-text-color"></icon-pencil>
                            </p-button>
                            <p-button [outlined]="true" [text]="true" size="small" (click)="deleteUser($event ,user)"
                                styleClass="p-2 border-1 border-200 bg-white">
                                <i class="pi pi-trash text-red-500"></i>
                            </p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords"
            [templateLeft]="customLeftTemplate" [showFirstLastIcon]="false">
            <ng-template #customLeftTemplate let-state>
                <span class="text-sm text-color">
                    Total user:
                    <span class="text-sm font-semibold">{{ state.totalRecords }}</span></span>
            </ng-template>
        </p-paginator>
    </div>
</div>

<p-dialog header="Header" [(visible)]="showAddModal" [modal]="true" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold">{{isAdding ? 'Add User' : 'Update User'}}</span>
        </div>
    </ng-template>

    <ng-container>
        <form [formGroup]="addValues" class="flex flex-column gap-4">
            <div class="flex flex-column gap-2">
                <label class="font-semibold" for="company">Company</label>
                <p-dropdown formControlName="company" [options]="companies" styleClass="w-full" class="text-xs"
                    optionLabel="company_name" optionValue="id" [filter]="true" filterBy="company_name"
                    [showClear]="true" placeholder="Select a Company">
                </p-dropdown>
            </div>
            <div class="flex flex-column gap-2">
                <label class="font-semibold" for="email">Email</label>
                <input pInputText formControlName="email" id="email" class="text-xs" />
            </div>
            <div class="grid">
                <div class="col-6">
                    <div class="flex flex-column gap-2">
                        <label class="font-semibold" for="full_name">Name</label>
                        <input pInputText formControlName="full_name" id="full_name" class="text-xs" />
                    </div>

                </div>
                <div class="col-6">
                    <div class="flex flex-column gap-2">
                        <label class="font-semibold" for="username">Username</label>
                        <input pInputText formControlName="username" id="username" class="text-xs" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="flex flex-column gap-2">
                        <label class="font-semibold" for="level_menu">User Level</label>
                        <p-dropdown formControlName="level_menu" [options]="userLevels" styleClass="w-full"
                            class="text-xs" optionLabel="level_name" optionValue="id" [filter]="true"
                            filterBy="level_name" [showClear]="true" placeholder="Select User level">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-6">
                    <div class="flex flex-column gap-2">
                        <label class="font-semibold" for="password">Password</label>
                        <div class="flex align-items-center">
                            <input [type]="showPassword ? 'text' : 'password'" pInputText formControlName="password"
                                id="password" class="text-xs flex-1" />
                            <button type="button" class="p-button p-button-text p-ml-2"
                                (click)="togglePasswordVisibility()">
                                <i class="pi" [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="addValues.get('level_menu')?.value === customLevelId" class="flex flex-column gap-2">
                <label class="font-semibold" for="menu">Access Menu</label>
                <p-multiSelect [options]="accessMenus" formControlName="menu" placeholder="Access Menu"
                    styleClass="text-xs w-full">
                </p-multiSelect>
            </div>
        </form>
    </ng-container>

    <ng-template pTemplate="footer">
        <p-button (click)="showAddModal = false" label="Cancel" pAutoFocus [outlined]="true"
            [loading]="isLoading"></p-button>
        <p-button (onClick)=" isAdding ? saveUser() : updateUser()" icon="pi pi-check"
            [label]="isAdding ? 'Save' : 'Update'" pAutoFocus [loading]="isLoading" [autofocus]="true"></p-button>
    </ng-template>
</p-dialog>