<header>
  <p-toolbar styleClass="flex-nowrap">
    <ng-template pTemplate="start">
      <!-- Default logo -->
      <img *ngIf="user?.usr_comp_name !== 'PETIQ Enterprise'"
        src="../../../assets/skema-logo.png" height="20" class="mr-2" />

      <!-- Special logo for Kementerian Hukum -->
      <!-- <img *ngIf="user?.usr_comp_name === 'Kementerian Hukum'" src="../../../assets/imogen.jpeg" height="30"
        class="mr-2" /> -->

      <p-divider *ngIf="user?.comp_icon && user?.usr_comp_name !== 'PETIQ Enterprise'" layout="vertical"
        class="logo-divider">
      </p-divider>

      <img *ngIf="user?.comp_icon" [src]="'https://api.skema.co.id/media/' + user?.comp_icon" height="45"
        class="mr-2 cursor-pointer" (click)="goToHome()" />
    </ng-template>
    <ng-template pTemplate="center">
      <p-tabMenu class="nav" [model]="navItems" [ngClass]="{'full-width': isAdminMenuPresent}">
        <ng-template pTemplate="item" let-item>
          <a [routerLink]="item.routerLink" class="p-menuitem-link flex justify-content-between align-items-center">
            <div class="flex align-items-center gap-2">
              <svg-icon [src]="item.icon"
                [svgClass]="currentRoute === item.routerLink ? 'fill-primary' : 'fill-secondary'"></svg-icon>

              <div class="text-xs font-medium text-color white-space-nowrap">
                {{ item.label }}
              </div>
            </div>
          </a>
        </ng-template>
      </p-tabMenu>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-4">
        <toggle-darkmode></toggle-darkmode>
        <div class="cursor-pointer" routerLink="/dashboard/search">
          <i class="pi pi-search font-bold"></i>
        </div>
        <div class="flex cursor-pointer" (click)="menu.toggle($event)">
          <div class="flex flex-column">
            <div class="m-0 text-sm">
              {{ user?.usr_comp_name ?? '-' }}
            </div>
            <div class="m-0 text-gray-500 text-xs">
              {{ user?.usr_comp_level ? userCompLevelMap[user?.usr_comp_level ?? '-'] : '-' }}
            </div>
          </div>
          <p-tieredMenu #menu [model]="profileItems" [popup]="true" styleClass="text-sm"></p-tieredMenu>
        </div>
      </div>
    </ng-template>
  </p-toolbar>
</header>
<main class="container" style="background-color: var(--bg-color); min-height: 86vh">
  <p-breadcrumb class="breadcrumb" [model]="breadCrumbsItems">
    <ng-template pTemplate="item" let-item>
      <div [ngClass]="{ 'text-color-secondary': item.label === 'Dashboard' }">
        {{ item.label }}
      </div>
    </ng-template>
  </p-breadcrumb>
  <div class="pt-2 pb-4 flex flex-wrap xl:flex-nowrap xl:gap-5">
    <aside [hidden]="!showFilter" class="w-full md:w-full lg:w-full xl:w-2 xl:min-w-2 mb-4"
      style="min-width: 16.66667%">
      <app-filter></app-filter>
    </aside>
    <section [ngClass]="{
        'w-full md:w-full lg:w-full xl:w-10 xl:max-w-10 overflow-hidden': showFilter,
        'w-full': !showFilter,
      }">
      <router-outlet></router-outlet>
    </section>
  </div>
</main>
<footer class="border-top-1 border-200">
  <div class="flex justify-content-between py-2 px-4">
    <p>Copyright © 2024 Skema Data Indonesia. All Rights Reserved.</p>
    <div class="flex align-items-center gap-4">
      <p>Privacy Policy</p>
      <p>Terms and Conditions</p>
    </div>
  </div>
</footer>