<section>
  <p-toast></p-toast>
  <div class="flex align-items-center gap-2 mb-4">
    <icon-newspaper fill="var(--primary-color)"></icon-newspaper>
    <div class="text-sm font-semibold">News</div>
    <icon-info></icon-info>
  </div>
  <p-divider></p-divider>
  <div>
    <div class="flex justify-content-between align-items-end my-5">
      <div class="text-sm">Article Selected {{ selectedArticles.length }} / {{ totalRecords }}</div>
      <div class="flex align-items-end gap-3">
        <div class="flex flex-column gap-2">
          <label class="font-semibold text-sm"> Select by </label>
          <p-dropdown [formControl]="searchForm.controls['field']" [options]="searchFieldOptions" optionLabel="label"
            optionValue="value" placeholder="Select..." />
        </div>

        <div class="flex flex-column gap-2">
          <label class="font-semibold text-sm"> Search </label>
          <span class="p-input-icon-right">
            <input type="text" pInputText placeholder="Search" [formControl]="searchForm.controls['query']" />
            <i class="pi pi-search"></i>
          </span>
        </div>

        <div class="flex gap-2">
          <div>
            <p-confirmPopup></p-confirmPopup>
            <p-button label="Action" icon="pi pi-file-edit" size="large" [disabled]="!selectedArticles.length"
              (click)="menu.toggle($event)"></p-button><p-tieredMenu #menu [model]="listAction"
              [popup]="true"></p-tieredMenu>
          </div>
          <div *ngIf="user?.usr_comp_level != 1">
            <p-confirmPopup></p-confirmPopup>
            <p-button icon="pi pi-trash" severity="danger" size="large" [disabled]="!selectedArticles.length"
              (click)="deleteArticle($event)"></p-button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card">
        <p-table [value]="articles" dataKey="article_id" [selection]="selectedArticles" [customSort]="true"
          (selectionChange)="onSelectionChange($event)" (sortFunction)="customSort($event)" [rows]="10"
          [totalRecords]="totalRecords" [loading]="isLoading" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr class="text-sm font-medium">
              <th style="width: 8px"></th>
              <th class="w-12rem pl-0">
                <div class="flex align-items-center gap-2">
                  <p-tableHeaderCheckbox class="offs"></p-tableHeaderCheckbox>
                  <span>Date</span>
                  <i pSortableColumn="datee" class="pi pi-angle-down"></i>
                </div>
              </th>
              <th>
                <div class="flex align-items-center gap-2">
                  Media Name
                  <i pSortableColumn="media_name" class="pi pi-angle-down"></i>
                  <p-columnFilter #columnFilterMedia field="tone" matchMode="in" display="menu" [showMatchModes]="false"
                    [showOperator]="false" [showAddButton]="false" [showApplyButton]="false" [showClearButton]="false"
                    class="columnFilter">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <div class="w-full" style="min-width: 320px">
                        <div class="flex flex-column gap-2">
                          <label class="font-semibold text-sm"> Tones </label>
                          <p-multiSelect [options]="toneOptions" optionLabel="label" optionValue="label"
                            [showHeader]="false" [(ngModel)]="selectedTones" placeholder="Select...">
                            <ng-template let-option pTemplate="item">
                              <div class="inline-block vertical-align-middle">
                                <span class="ml-1 mt-1">{{ option.label }}</span>
                              </div>
                            </ng-template>
                          </p-multiSelect>
                        </div>

                        <div class="flex gap-2">
                          <button class="mt-4" pButton [outlined]="true" type="button" label="Clear"
                            (click)="clear()"></button>
                          <button class="mt-4" pButton type="button" label="Apply" (click)="fetchData()"></button>
                        </div>
                      </div>
                    </ng-template>
                  </p-columnFilter>
                </div>
              </th>
              <th style="min-width: 150px">
                <div class="flex align-items-center justify-content-center gap-2">
                  Tier Media
                  <p-columnFilter #columnFilterTier field="media_tier" matchMode="in" display="menu"
                    [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showApplyButton]="false"
                    [showClearButton]="false" class="columnFilter">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <div class="w-full" style="min-width: 320px">
                        <div class="flex flex-column gap-2">
                          <label class="font-semibold text-sm"> Media Tier </label>
                          <p-multiSelect [options]="tierOptions" [showHeader]="false" [(ngModel)]="selectedTier"
                            placeholder="Select...">
                            <ng-template let-option pTemplate="item">
                              <div class="inline-block vertical-align-middle">
                                <span class="ml-1 mt-1">{{ option }}</span>
                              </div>
                            </ng-template>
                          </p-multiSelect>
                        </div>

                        <div class="flex gap-2">
                          <button class="mt-4" pButton [outlined]="true" type="button" label="Clear"
                            (click)="clear()"></button>
                          <button class="mt-4" pButton type="button" label="Apply" (click)="fetchData()"></button>
                        </div>
                      </div>
                    </ng-template>
                  </p-columnFilter>
                </div>
              </th>
              <th>
                <div class="flex align-items-center gap-2">
                  News Title
                  <i pSortableColumn="title" class="pi pi-angle-down"></i>
                </div>
              </th>
              <th style="width: 4rem" class="text-center">
                <div>Preview</div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-article let-expanded="expanded">
            <tr class="text-sm">
              <td class="pr-2">
                <p-button [text]="true" size="small" [pRowToggler]="article"
                  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" styleClass="p-0 px-0  text-color"
                  [style]="{ width: 'max-content' }"></p-button>
              </td>
              <td class="pl-0">
                <div class="flex align-items-center gap-2">
                  <p-tableCheckbox [value]="article"></p-tableCheckbox>
                  {{ article.datee }}
                </div>
              </td>
              <td>
                <div class="flex align-items-center gap-1 w-max">
                  <tag [content]="getToneLabel(article.tone)" [type]="article.tone ?? 0"></tag>
                  <a [href]="article.file_pdf" target="_blank" class="text-primary">
                    {{ article.media_name }}
                  </a>
                </div>
              </td>
              <td>
                <div class="flex justify-content-center align-items-center gap-2">
                  {{ article.media_tier }}
                </div>
              </td>
              <td>
                <div class="flex align-items-center gap-2">
                  <i *ngIf="article.act_id" class="pi pi-info-circle text-primary"
                    pTooltip="User Change This Article Tone" tooltipPosition="top"></i>
                  {{ article.title }}
                </div>
              </td>
              <td>
                <div class="flex gap-2">
                  <p-button [outlined]="true" [text]="true" size="small" styleClass="p-2 border-1 border-200 bg-white"
                    (onClick)="openEditModal(article)">
                    <icon-pencil class="fill-text-color"></icon-pencil>
                  </p-button>
                  <p-button [outlined]="true" [text]="true" size="small" styleClass="p-2 border-1 border-200 bg-white"
                    (onClick)="openPreview(article)">
                    <icon-newspaper [width]="16" [height]="16" class="fill-text-color"></icon-newspaper>
                  </p-button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-article>
            <tr>
              <td colspan="4">
                <div class="flex flex-column gap-2">
                  <div class="text-sm">{{ article.title }}</div>
                  <div class="flex align-items-center gap-2">
                    <div class="text-sm">Issue:</div>
                    <p-tag [value]="article.issue"></p-tag>
                  </div>
                  <div class="text-sm">{{ article.content }}</div>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator *ngIf="totalRecords" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
          [totalRecords]="totalRecords" [templateLeft]="customLeftTemplate" [showFirstLastIcon]="true"
          [rowsPerPageOptions]="[10, 20, 50, 100, 500]">
          <ng-template #customLeftTemplate let-state>
            <span class="text-sm text-color">Showing {{ state.first + 1 }}-{{ state.first + state.rows }} from {{
              state.totalRecords }}</span>
          </ng-template>
        </p-paginator>
      </div>
    </div>
  </div>
</section>

<p-dialog header="Header" [(visible)]="modalUpdateOpen" [modal]="true" [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <span class="font-bold">Edit article</span>
    </div>
  </ng-template>

  <ng-container *ngIf="editedArticle">
    <form [formGroup]="editedValues" class="flex flex-column gap-4">
      <div class="flex flex-column gap-2">
        <label class="font-semibold" for="title">Title</label>
        <input pInputText formControlName="title" id="title" class="text-xs" />
      </div>
      <div class="grid">
        <div class="col-6">
          <div class="flex justify-content-between">
            <div class="text-xs font-semibold">Date:</div>
            <div class="text-xs">
              {{ editedArticle.datee ? editedArticle.datee : '' }}
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="flex justify-content-between">
            <div class="text-xs font-semibold">News Value:</div>
            <div class="text-xs">
              {{ editedArticle.advalue_bw ?? 0 | formatAmount }}
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="flex justify-content-between">
            <div class="text-xs font-semibold">Media:</div>
            <div class="text-xs">
              {{ editedArticle.media_name ? editedArticle.media_name : '-' }}
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="flex justify-content-between">
            <div class="text-xs font-semibold">Ad Value:</div>
            <div class="text-xs">
              {{ editedArticle.advalue_fc ?? 0 | formatAmount }}
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="flex justify-content-between">
            <div class="text-xs font-semibold">Option:</div>
            <a class="text-xs" [href]="editedArticle.preview_link" target="_blank">Preview</a>
          </div>
        </div>
      </div>
      <div class="flex flex-column gap-2">
        <label class="font-semibold" for="issue">Issue</label>
        <input pInputText formControlName="issue" id="issue" class="text-xs" />
      </div>
      <div class="flex flex-column gap-2">
        <label class="font-semibold" for="summary">Summary</label>
        <textarea pInputTextarea formControlName="summary" id="summary" class="text-xs" rows="5"></textarea>
      </div>
      <div class="flex flex-column gap-2">
        <label class="font-semibold" for="content">Content</label>
        <div class="text-xs" [innerHTML]="sanitizedContent ?? editedArticle.content"></div>
      </div>
    </form>

    <p-multiSelect [options]="availableCategories" [filter]="false" [(ngModel)]="editedCategories" dataKey="category_id"
      placeholder="Select Cateogry" optionLabel="category_id" display="chip" appendTo="body"
      styleClass="text-xs w-full mt-4"></p-multiSelect>
  </ng-container>

  <ng-template pTemplate="footer">
    <p-button (click)="modalUpdateOpen = false" label="Cancel" pAutoFocus [outlined]="true"
      [loading]="isLoading"></p-button>
    <p-button icon="pi pi-check" (click)="updateArticle()" label="Save" pAutoFocus [disabled]="!user?.stat_edit"
      [loading]="isLoading" [autofocus]="true"></p-button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="showSendMailDialog" [modal]="true" [closeOnEscape]="true" [closable]="true"
  [dismissableMask]="true" [draggable]="false" [style]="{ width: '50rem' }">

  <p-header class="text-base">Send to E-mail</p-header>

  <div class="flex flex-column gap-3">
    <p class="pb-2">
      If more than 1 email is to be sent then use a comma (,) to separate the email. <br />
      Example: abc&#64;mail.com, def&#64;mail.com
    </p>

    <div class="grid">
      <div class="col-6 flex flex-column gap-2">
        <label for="email" class="font-semibold text-sm">E-mail</label>
        <input pInputText id="email" placeholder="abc@mail.com, def@mail.com" [formControl]="sendMailCtrl"
          class="w-full" />
      </div>

      <div class="col-6 flex flex-column gap-2">
        <label for="date" class="font-semibold text-sm">Date (Optional)</label>
        <p-calendar [(ngModel)]="sendDate" inputId="startDate" [showButtonBar]="false" appendTo="body" showIcon="true"
          [iconDisplay]="'input'" [inputStyle]="{ backgroundColor: 'var(--bg-color)' }">
        </p-calendar>
      </div>
    </div>

    <div class="mt-3">
      <h3 class="text-sm font-semibold mb-3">List Title Article (Optional)</h3>

      <div class="flex flex-column gap-4" [formGroup]="categoriesForm">
        <ng-container formArrayName="categories">
          <div *ngFor="let category of categoriesArray.controls; let i = index" [formGroupName]="i"
            class="category-card p-3 border-round border-1 surface-border">

            <div class="flex align-items-center justify-content-between mb-2">
              <input pInputText formControlName="categoryTitle" placeholder="Category Title"
                class="font-semibold text-sm w-10" />

              <p-button icon="pi pi-trash" severity="danger" [text]="true" [rounded]="true" (click)="removeCategory(i)">
              </p-button>
            </div>
            <div class="flex flex-column gap-2 pl-4 mt-2 border-left-2 surface-border" formArrayName="titles">

              <div *ngFor="let title of getTitlesArray(i).controls; let j = index"
                class="flex align-items-center gap-2">

                <input pInputText [formControlName]="j" placeholder="Input title here..." class="flex-1 text-sm" />

                <p-button icon="pi pi-trash" severity="danger" [text]="true" [rounded]="true"
                  (click)="removeTitle(i, j)">
                </p-button>
              </div>
            </div>

            <div class="pl-4 mt-3">
              <p-button icon="pi pi-plus" label="Add Title" [text]="true" size="small" (click)="addTitle(i)">
              </p-button>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="mt-4">
        <p-button icon="pi pi-plus" label="Add New Category" [outlined]="true" size="small" styleClass="w-full"
          (click)="addCategory()">
        </p-button>
      </div>
    </div>


  </div>

  <p-footer>
    <p-button (click)="cancelSendMail()" label="Cancel" [outlined]="true"></p-button>
    <p-button (click)="sendMail()" label="Send Email" [disabled]="!isValidEmail(sendMailCtrl.value)"></p-button>
  </p-footer>
</p-dialog>