:host ::ng-deep {
  .links .active svg {
    fill: var(--primary-color);
  }

  .p-tieredmenu .p-submenu-list {
    right: 100%;
    left: unset;
  }
}

.news-title {
  min-width: 300px;
  white-space: normal;
}