:host ::ng-deep {
  .card {
    padding: 1.25rem;
  }

  .p-table th {
    font-size: 0.875rem;
    font-weight: 500;
  }

  .p-table td {
    font-size: 0.875rem;
  }

  .p-paginator {
    margin-top: 1rem;
  }
}
