<div class="login flex justify-content-center align-items-center">
  <p-toast></p-toast>
  <p-card class="card">
    <div class="flex align-items-center justify-content-center mb-6 mr-2">
      <img class="w-10rem" alt="Skema Logo" src="../../assets/skema-logo.png" />
    </div>
    <div class="text-center flex flex-column gap-4">
      <h6>Welcome to,</h6>
      <h3>Conventional Media Dashboard</h3>
      <h6>News - Information - Insight</h6>
    </div>
    <form [formGroup]="loginForm" (submit)="login()" class="mt-6 flex flex-column gap-3">
      <div class="flex flex-column gap-2">
        <label for="username" class="font-bold">Username</label>
        <span class="p-input-icon-right">
          <i class="pi pi-user"></i>
          <input pInputText formControlName="username" id="username" class="w-full" />
        </span>
      </div>
      <div class="flex flex-column gap-2">
        <label for="password" class="font-bold">Password</label>
        <p-password
          id="password"
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
          styleClass="w-full"
          inputStyleClass="w-full" />
      </div>
      <div class="flex justify-content-between align-items-center">
        <div class="flex align-items-center gap-1">
          <p-checkbox value="New York" inputId="ny"></p-checkbox>
          <label for="ny">Remember me</label>
        </div>
        <p>Forgot Password?</p>
      </div>
      <p-button label="Sign in" styleClass="submit-btn" type="submit" [disabled]="!loginForm.valid" [loading]="isLoading"></p-button>
    </form>
    <!-- <div class="mt-4 flex justify-content-center">
      <p-button
        label="Login with SSO"
        icon="pi pi-lock"
        styleClass="p-button-outlined w-full"
        (onClick)="loginWithOAuth()"
      ></p-button>
    </div> -->
    <ng-template pTemplate="footer"><p class="text-center">copyright © conventional media</p></ng-template>
  </p-card>
</div>
